<div class="profile-div">
  <div class="profile-container">
    <div class="profile-header">
      <button class="back-btn" (click)="goBack()">
        <i class="bi bi-arrow-left"></i>
      </button>
      <h2>User Profile</h2>
      <button class="edit-btn" (click)="toggleEditMode()">
        <i class="bi bi-pencil-fill me-2"></i>
        <span *ngIf="!editMode">Edit</span>
        <span *ngIf="editMode">Cancel</span>
      </button>
    </div>
  
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="profile-form">
      <div class="form-group">
        <label for="user_name">Name:</label>
        <input id="user_name" formControlName="user_name" [readonly]="!editMode" class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" [readonly]="!editMode" class="form-control" />
      </div>
  
      <div class="form-group password-group">
        <label for="password">Password:</label>
        <div class="password-container">
          <input id="password" type="{{ showDetails ? 'text' : 'password' }}" formControlName="password"
            [readonly]="!editMode" class="form-control" />
          <button type="button" class="show-password-btn" (click)="showDetails = !showDetails">
            {{ showDetails ? 'Hide' : 'Show' }}
          </button>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid || !editMode">
        Save Changes
      </button>
    </form>
    <div *ngIf="error" class="error-message">{{ error }}</div>
  </div>
  
</div>