:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 20px;
  min-height: 90.5vh;
}

.back-btn {
  height: 30px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #989696;
  margin-right: 10px;
}

.back-btn:hover {
  color: #ffcc00;
}

/* Hotel Details Section */
.first-half {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
  border-bottom: 2px solid #ffcc00;
}

.left {
  flex: 1;
}

.left .hotel-img {
  width: 30vw;
  height: 40vh;
  border-radius: 10px;
}

.right {
  flex: 2;
  padding: 20px;
}

.right h2 {
  color: #ffcc00;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.right h4 {
  color: #ffa500;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.right p {
  font-size: 1.1rem;
  color: #ccc;
}

.amenities h5 {
  display: inline-block;
  margin-right: 10px;
  color: #ff4500;
}

/* Room Cards Section */
.rooms-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-bar {
  display: flex;
  gap: 20px;
  padding: 15px;
  background-color: var(--secondry-background);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  align-items: center;
}

.filter-bar label {
  color: var(--primary-text);
  font-size: 16px;
  margin-right: 10px;
}

.filter-bar input[type="date"],
.filter-bar input[type="text"] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--primary-text);
  background-color: var(--main-background);
  color: var(--secondry-text);
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.3s ease;
  width: 150px;
}

.filter-bar input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.filter-bar input[type="date"]:focus,
.filter-bar input[type="text"]:focus {
  box-shadow: 0px 0px 5px 2px var(--primary-text);
}

.filter-bar input[type="text"]::placeholder {
  color: var(--secondry-text);
  opacity: 0.7;
}

.filter-bar input[type="text"]:focus::placeholder {
  opacity: 1;
}
