/* Footer Styling */
.footer {
  width: 100%;
  background-color: var(--secondry-background);
  color: var(--secondry-text);
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.footer-logo h2 {
  color: var(--primary-text);
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Links Styling */
.footer-links a {
  color: var(--secondry-text);
  text-decoration: none;
  margin: 0 10px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--primary-text);
}

/* Social Icons Styling */
.footer-social {
  margin: 10px 0;
}

.social-icon {
  color: var(--secondry-text);
  margin: 0 10px;
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--primary-text);
  transform: scale(1.2);
}

/* Copyright Text */
.footer-copy p {
  font-size: 0.9rem;
  margin: 0;
  color: #bbb;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-links a {
    display: block;
    margin: 5px 0;
  }
}
