<div class="about-container">
    <div class="slider-container">
      <div class="slider">
        <!-- <div class="slide" *ngFor="let image of images"> -->
          <img src="assets/images/hotels/hotel9.jpg" class="img" alt="About HotelGuru Image" />
        <!-- </div> -->
      </div>
    </div>
    <div class="about-content">
      <h2>About HotelGuru</h2>
      <p>
        Welcome to HotelGuru! We are your go-to platform for finding the best
        hotels at the most competitive prices. Whether you're looking for luxury
        accommodations or budget-friendly options, HotelGuru offers an easy and
        efficient booking experience. Our mission is to provide travelers with a
        comprehensive and user-friendly hotel booking system.
      </p>
      <p>
        HotelGuru ensures you have access to reliable reviews, detailed hotel
        information, and top-notch customer support for your booking needs. We
        strive to make your stay as comfortable and memorable as possible.
      </p>
    </div>
  </div>
  