<div class="room-card" (click)="openRoomDetailsPopup()">
  <div class="left-div">
    <img [src]="room.img" [alt]="room.room_number" class="hotel-img">
    <div class="details-container">
    <p class="room_no">Room No.{{ room.room_number }}</p>
    <p>{{room.room_type.type_name}}</p>
    </div>
    <button 
        class="book-button" 
        [disabled]="!room.is_available"
        (click)="bookRoom(room.room_id)">
        {{ room.is_available ? 'Book Room' : 'Booked' }}
    </button>
  </div>
</div>

<!-- Room Details Popup -->
<div class="room-details-popup" *ngIf="isPopupOpen" (click)="closePopup($event)">
  <div class="room-details-content">
    <div class="room-details-left">
      <img [src]="room.img" [alt]="room.room_number" class="room-image">
    </div>
    <div class="room-details-right">
      <h2>Room {{ room.room_number }}</h2>
      <p><strong>Type:</strong> {{room.room_type.type_name}}</p>
      <p><strong>Description:</strong> {{ room.room_type.description }}</p>
      <p><strong>Price:</strong> <span class="highlight-price">${{room.room_type.price_per_night}}</span></p>
      <p><strong>Amenities:</strong></p>
      <div class="amenities-grid">
        <div class="amenity-item" *ngFor="let amenity of room.amenities">
          <!-- <i class="amenity-icon"></i> -->
          <i class="fa fa-check-circle ms-2" aria-hidden="true"></i>
          <p>{{ amenity.name }}</p>
        </div>
      </div>      
      <div class="actions">
        <button class="book-button" [disabled]="!room.is_available" (click)="bookRoom(room.room_id)">{{ room.is_available ? 'Book Room' : 'Booked' }}</button>
        <button class="close-button" (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</div>


